# Pandas

* 부동 소수점이 아닌 데이터 뿐만 아니라 부동 소수점 데이터에서도 결측 데이터(NaN으로 표시됨)를 쉽게 처리
* 크기 변이성(Size mutability): DataFrame 및 고차원 객체에서 열을 삽입 및 삭제 가능
* 자동 및 명시적(explicit) 데이터 정렬: 객체를 라벨 집합에 명시적으로 정렬하거나, 사용자가 라벨을 무시하고 Series, DataFrame 등의 계산에서 자동으로 데이터 조정 가능
* 데이터 세트에서 집계 및 변환을 위한 분할(split), 적용(apply), 결합(combine) 작업을 수행할 수 있는 강력하고 유연한 group-by 함수 제공
* 누락된 데이터 또는 다른 Python 및 NumPy 데이터 구조에서 서로 다른 인덱싱 데이터를 DataFrame 개체로 쉽게 변환
* 대용량 데이터 세트의 지능형 라벨 기반 슬라이싱, 고급 인덱싱 및 부분 집합 구하기 가능
* 직관적인 데이터 세트 병합 및 결합
* 데이터 세트의 유연한 재구성 및 피벗
* 축의 계층적 라벨링 (눈금당 여러 개의 라벨을 가질 수 있음)
* 플랫 파일(CSV 및 구분), Excel 파일, 데이터베이스 로딩 및 초고속 HDF5 형식의 데이터 저장/로드에 사용되는 강력한 IO도구
* 시계열 특정 기능: 날짜 범위 생성 및 주파수 변환, 무방빙 윈도우(moving window) 통계, 날짜 이동 및 지연

In [3]:
import pandas as pd
pd.__version__

'1.1.3'

In [14]:
import numpy as np

pd.set_option(pat, value)

pd.reset_option(pat)

# display 설정 변경

[출처](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html) https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html

[출처](https://thispointer.com/python-pandas-how-to-display-full-dataframe-i-e-print-all-rows-columns-without-truncation/) https://thispointer.com/python-pandas-how-to-display-full-dataframe-i-e-print-all-rows-columns-without-truncation/

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

## Set it None to display all rows in the dataframe

In [7]:
pd.set_option('display.max_rows', None)

## Set it to None to display all columns in the dataframe

In [8]:
pd.set_option('display.max_columns', None)

##  Setting to display Dataframe with full width i.e. all columns in a line
Width of the display in characters. If set to None and pandas will correctly auto-detect the width.

In [9]:
pd.set_option('display.width', None)

# display about truncated repr

## Set it how many rows are shown in the truncated repr

* max_rows : if exceeded, 
* min_rows : how many rows are shown

In [12]:
pd.set_option('max_rows',10)

In [11]:
pd.set_option('min_rows', 5)

## display.large_repr lets you select whether to display dataframes that exceed max_columns or max_rows as a truncated frame, or as a summary.

In [15]:
df = pd.DataFrame(np.random.randn(10, 10))

pd.set_option("max_rows", 5)

pd.set_option("large_repr", "truncate")

df

,0,1,2,3,4,5,6,7,8,9
0,0.310238,0.440239,0.663064,-1.431080,-0.974292,-1.110292,-0.612976,-0.540382,0.028548,0.786684
1,-1.332949,0.900762,0.160542,-1.038523,0.097352,1.361564,-0.629901,0.064965,-0.358074,0.282542
...,...,...,...,...,...,...,...,...,...,...
8,-0.958146,0.340880,-1.774711,2.270104,-1.188920,0.560253,-0.416458,0.033689,-1.384995,0.620241
9,0.990672,-0.331459,0.102633,-1.667460,0.473548,0.480910,1.077748,0.407846,0.871772,2.869598

## set info for large_repr

In [16]:
pd.set_option("large_repr", "info")

df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     float64
 1   1       10 non-null     float64
 2   2       10 non-null     float64
 3   3       10 non-null     float64
 4   4       10 non-null     float64
 5   5       10 non-null     float64
 6   6       10 non-null     float64
 7   7       10 non-null     float64
 8   8       10 non-null     float64
 9   9       10 non-null     float64
dtypes: float64(10)
memory usage: 928.0 bytes

In [17]:
pd.reset_option("large_repr")

## display.max_colwidth sets the maximum width of columns. Cells of this length or longer will be truncated with an ellipsis.

In [ ]:
pd.set_option("max_colwidth", 40)

# warning setting

In [18]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas