<a href='https://github.com/SeWonKwon' ><div> <img src ='https://slid-capture.s3.ap-northeast-2.amazonaws.com/public/image_upload/6556674324ed41a289a354258718280d/964e5a8b-75ad-41fc-ae75-0ca66d06fbc7.png' align='left' /> </div></a>

In [2]:
import pandas as pd

# 문자열 연산

- 파이썬의 문자열 연산자를 거의 모두 반영
- 문자열 연산자를 쓰기 위해선 str.을 꼭 써줘야 한다.

##   문자열 연산자

|함수|설명|
|:---|:---|
|```capitalize( )```|첫 문자를 대문자로 하고, 나머지 문자를 소문자로 하는 문자열 반환|
|```casefold( )```|모든 대소문자 구분을 제거|
|```count( sub, [, start[, end]] )```|[start, end] 범위에서 부분 문자열 sub의 중복되지 않은 수를 반환|
|```find( sub, [, start[, end]] )```|[start, end] 범위에서 부분 문자열 sub가 문자열의 가장 작은 인덱스를 반환. sub가 발견되지 않는 경우는 -1 반환|
|```rfind( sub, [, start[, end]] )```|[start, end] 범위에서 부분 문자열 sub가 문자열의 가장 큰 인덱스를 반환. sub가 발견되지 않는 경우는 -1 반환|
|```index( sub, [, start[, end]] )```|find()와 유사하지만 부분 문자열 sub가 없으면 ValueError가 발생|
|```rindex( sub, [, start[, end]] )```|rfind( )와 유사하지만 부분 문자열인 sub가 없으면 ValueError가 발생|
|```isalnum( )```|문자열의 모든 문자가 영숫자로 1개 이상 있으면 True, 아니면 False 반환|
|```isalpha( )```|문자열의 모든 문자가 영문자로 1개 이상 있으면 True, 아니면 False 반환|
|```isdecimal( )```|문자열의 모든 문자가 10진수 문자이며 1개 이상 있을 때 True, 그렇지 않으면 False 반환|
|```isdigit( )```|문자열의 모든 문자가 숫자미여 1개 이상 있을 때 True, 그렇지 않으면 False 반환|
|```isnumeric( )```|문자열의 모든 문자가 수치형이며 1개 이상 있을 때 True, 그렇지 않으면 False 반환|
|```isidentifier( )```|문자열이 유효한 식별자인 경우 True 반환|
|```isspace( )```|문자열 내에 공백 문자만 있으면 True, 그렇지 않으면 False 반환|
|```istitle( )```|문자열이 제목이 있는 문자열에 문자가 1개 이상 있으면 True, 그렇지 않으면 False 반환|
|```islower( )```|문자열의 모든 문자가 소문자이며 1개 이상 있을 때 True, 그렇지 않으면 False 반환|
|```isupper( )```|문자열의 문자가 모두 대문자에 문자가 1개 이상 있으면 True, 그렇지 않으면 False 반환|
|```join( iterable )```|iterable에 있는 문자열에 연결된 문자열을 반환|
|```center( width[, fillchar] )```|길이 너비민큼 중앙정렬된 문자열 반환|
|```ljust( width[, fillchar] )```|너비만금의 문자열에서 왼쪽 정렬된 문자열을 반환|
|```rjust( width[, fillchar] )```|너비만큼의 문자열에서 오른쪽 정렬된 문자열을 반환|
|```lower( )```|모든 대소문자가 소문자로 변환된 문자열을 반환|
|```upper( )```|문자열에서 모든 문자를 대문자로 변환된 문자열을 반환|
|```title( )```|문자열에서 첫 글자만 대문자이고 나머지는 소문자인 문자열 반환|
|```swapcase( )```|문자열에서 소문자를 대문자로 대문자를 소문자로 변원한 문자열 반환|
|```strip( [chars] )```|문자열 앙쪽에 지정된 chars 또는 공백을 제거한 문자열을 반환|
|```lstrip( [chars] )```|문자열 왼쪽에 지징된 chars 또는 공백을 제거한 문자열을 반환|
|```rstrip( [chars] )```|문자열 오른쪽에 지정된 chars 또는 공백을 재거한 문자열을 반환|
|```partition( sep )```|문자열에서 첫번째 sep를 기준으로 분할하여 3개의 튜플을 반환|
|```rpartition( sep )```|문자열에서 미지막 sep를 기준으로 분할하여 3개의 튜플을 반환|
|```replace( old, new[count] )```|문자열의 모든 old글 new로 교체한 문자열을 반환|
|```split( sep=None, maxsplit=1 )```|sep를 구분자 문자열로 사용하여 문자열의 단어 목록을 반환|
|```rsplit( sep=None, maxsplit=1 )```|sep를 구분자 문자열로 사용하여 문자열의 단어 목록을 반환|
|```splitlines( [keepends] )```|문자열에서 라인 단위로 구분하여 리스트를 반환|
|```startswith( prefix [, start[, end]] )```|[start, end] 범위에서 지정한 prefix로 시작하면 True, 아니면 False 반환|
|```endswith( suffix [, start[, end]] )```|[start, end] 범위에서 지정한 suffix로 끝나면 True, 아니면 False 반환|
|```zfill( width )```|너비 만큼 문자열에서 비어있는 부분에 '0'이 채워진 문자열 반환|

In [3]:
name_tuple = ['Suan Lee', 'Steven Jobs', 'Larry Page',
              'Elon Musk', None, 'Bill Gates', 
              'Mark Zuckerbuerg', 'Jeff Bezos']
names = pd.Series(name_tuple)
names

0            Suan Lee
1         Steven Jobs
2          Larry Page
3           Elon Musk
4                None
5          Bill Gates
6    Mark Zuckerbuerg
7          Jeff Bezos
dtype: object

In [4]:
names.str.lower()

0            suan lee
1         steven jobs
2          larry page
3           elon musk
4                None
5          bill gates
6    mark zuckerbuerg
7          jeff bezos
dtype: object

In [5]:
names.str.len()

0     8.0
1    11.0
2    10.0
3     9.0
4     NaN
5    10.0
6    16.0
7    10.0
dtype: float64

In [6]:
names.str.split()

0            [Suan, Lee]
1         [Steven, Jobs]
2          [Larry, Page]
3           [Elon, Musk]
4                   None
5          [Bill, Gates]
6    [Mark, Zuckerbuerg]
7          [Jeff, Bezos]
dtype: object

## 기타 연산자

|메소드|설명|
|:-|:-|
|```get( )```|각 요소에 인덱스 지정|
|```slice_replace( )```|각 요소의 슬라이스를 특정 값으로 대체|
|```cat( )```|문자열 연결|
|```recat( )```|값 반복|
|```normalize( )```|문자열의 유니코드 형태로 반환|
|```pad( )```|문자열 왼쪽, 오른쪽, 또는 양쪽 공백 추가|
|```wrap( )```|긴 문자열을 주어진 너비보다 짧은 길이의 여러 줄로 나눔|
|```join( )```|Series의 각 요소에 있는 문자열을 전달된 구분자와 결함|
|```get_dummies( )```|DataFrame으로 가변수(dummy variable)추출|

In [7]:
names.str[0:4]

0    Suan
1    Stev
2    Larr
3    Elon
4    None
5    Bill
6    Mark
7    Jeff
dtype: object

In [8]:
names.str.split().str.get(-1) # 성만 가져오기

0            Lee
1           Jobs
2           Page
3           Musk
4           None
5          Gates
6    Zuckerbuerg
7          Bezos
dtype: object

In [9]:
names.str.repeat(2)

0                    Suan LeeSuan Lee
1              Steven JobsSteven Jobs
2                Larry PageLarry Page
3                  Elon MuskElon Musk
4                                None
5                Bill GatesBill Gates
6    Mark ZuckerbuergMark Zuckerbuerg
7                Jeff BezosJeff Bezos
dtype: object

In [10]:
names.str.join('*')

0                    S*u*a*n* *L*e*e
1              S*t*e*v*e*n* *J*o*b*s
2                L*a*r*r*y* *P*a*g*e
3                  E*l*o*n* *M*u*s*k
4                               None
5                B*i*l*l* *G*a*t*e*s
6    M*a*r*k* *Z*u*c*k*e*r*b*u*e*r*g
7                J*e*f*f* *B*e*z*o*s
dtype: object

## 정규표현식


|메소드|설명|
|:-|:-|
|```match( )```|각 요소에 ```re.match()``` 호출. 불리언값 반환|
|```extract()```|각 요소에 ```re.match()``` 호출. 문자열로 매칭된 그룹 변환|
|```findall()```|각 요소에 ```re.findall()``` 호출|
|```replace()```|패턴이 발생힌 곳을 디른 문지열로 대체|
|```contains()```| 각 요소에 ```re.search()``` 호출. 불리언 값 반환|
|```count()```|패턴 발생 건수 집계|
|```split()```|```str.split()``` 과 동일하시만 정규 표현식 사용|
|```rsplit()```|```str.rsplit()``` 과동일하지만 정규 표현식 사용|

In [11]:
names.str.match('([A-Za-z]+)')

0    True
1    True
2    True
3    True
4    None
5    True
6    True
7    True
dtype: object

In [12]:
names.str.findall('([A-Za-z]+)')

0            [Suan, Lee]
1         [Steven, Jobs]
2          [Larry, Page]
3           [Elon, Musk]
4                   None
5          [Bill, Gates]
6    [Mark, Zuckerbuerg]
7          [Jeff, Bezos]
dtype: object

## 참고문헌 및 출처

* Pandas 사이트: https://pandas.pydata.org/
* Jake VanderPlas, "Python Data Science Handbook", O'Reilly
* Wes Mckinney, "Python for Data Analysis", O'Reilly


* <a href='https://github.com/SeWonKwon' ><div> <img src ='https://slid-capture.s3.ap-northeast-2.amazonaws.com/public/image_upload/6556674324ed41a289a354258718280d/964e5a8b-75ad-41fc-ae75-0ca66d06fbc7.png' align='left' /> </div></a>


<br>


* [이수안컴퓨터연구소](https://www.youtube.com/channel/UCFfALXX0DOx7zv6VeR5U_Bg)
* https://github.com/minsuk-heo/pandas