<a href='https://github.com/SeWonKwon' ><div> <img src ='https://slid-capture.s3.ap-northeast-2.amazonaws.com/public/image_upload/6556674324ed41a289a354258718280d/964e5a8b-75ad-41fc-ae75-0ca66d06fbc7.png' align='left' /> </div></a>

In [6]:
import pandas as pd
print(pd.__version__)    # 실습할 판다스 버전: 1.0.1

1.1.3

In [7]:
from IPython.display import display_html
def display_side_by_side(*args):
    """여러 데이터프레임 비교가 쉽게 옆쪽으로 표시한다"""
    html_str=''
    for df in args:
        html_str += df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'), raw=True)

# `Query()`

sqr식 문법과 판다스의 중간쯤 되는 함수

## 기본 룰

* ` `` `은 뛰어쓰기가 필요한 컬럼명등에 사용된다.

* `@`은 파이썬 상의 변수명이나 인스턴스 명을 불러 올때 사용된다.

## 비교 연산자

`==`,`>`,`>=`,`!=`

In [10]:
data = {"age": [10, 10, 21, 22], "weight": [20, 30, 60, 70]}
df = pd.DataFrame(data)
df

   age  weight
0   10      20
1   10      30
2   21      60
3   22      70

In [5]:
str_expr = "age == 10"    # 나이가 10 이다 (비교연산자 ==)
df_q = df.query(str_expr) # 조건 부합 데이터 추출
display_side_by_side(df, df_q)

,age,weight
0,10,20
1,10,30
2,21,60
3,22,70
,age,weight
0,10,20
1,10,30

## `in` 연산자

In [11]:
str_expr = "age in [21, 22]"  # 나이가 21 또는 22이다 (소문자 in 연산자)
# str_expr = "age == [21, 22]" # 위와 동일한 표현식이다
df_q = df.query(str_expr)     # 조건 부합 데이터 추출
display_side_by_side(df, df_q)

,age,weight
0,10,20
1,10,30
2,21,60
3,22,70
,age,weight
2,21,60
3,22,70

In [12]:
str_expr = "age not in [21, 22]" # 나이가 21 또는 22 아니다 (소문자 not in 연산자)
#str_expr = "age != [21, 22]"    # 위와 동일한 표현식이다
df_q = df.query(str_expr)        # 조건 부합 데이터 추출
display_side_by_side(df, df_q)

,age,weight
0,10,20
1,10,30
2,21,60
3,22,70
,age,weight
0,10,20
1,10,30

## `and`, `or`, `not` (논리 연산자)

In [13]:
str_expr = "(age == 10) and (weight >= 30)" # 나이가 10이고 몸무게가 30kg 이상이다 (소문자 논리연산 and)
df_q = df.query(str_expr)                   # 조건 부합 데이터 추출
display_side_by_side(df, df_q)

,age,weight
0,10,20
1,10,30
2,21,60
3,22,70
,age,weight
1,10,30

## 외부 변수(또는 함수) 참조 연산

In [14]:
num_age    = 10
num_weight = 30
str_expr = "(age == @num_age) and (weight >= @num_weight)"
df_q = df.query(str_expr)       # 조건 부합 데이터 추출
display_side_by_side(df, df_q)

,age,weight
0,10,20
1,10,30
2,21,60
3,22,70
,age,weight
1,10,30

또는 f-String를 이용하여 str_expr를 만들 때 외부변수를 미리 참조하는 것도 방법입니다. (위와 결과가 같습니다)

In [15]:
num_age    = 10
num_weight = 30
str_expr = f"(age == {num_age}) and (weight >= {num_weight})"
df_q = df.query(str_expr)           # 조건 부합 데이터 추출
display_side_by_side(df, df_q)

,age,weight
0,10,20
1,10,30
2,21,60
3,22,70
,age,weight
1,10,30

In [16]:
def my_max(x, y):
    return max(x,y)
str_expr = "age >= @my_max(1,22)"
df_q = df.query(str_expr) # 조건 부합 데이터 추출
display_side_by_side(df, df_q)

,age,weight
0,10,20
1,10,30
2,21,60
3,22,70
,age,weight
3,22,70

## 인덱스 검색

In [17]:
str_expr = "index >= 2"    # 인덱스가 2이상인 데이터
df_q = df.query(str_expr)  # 조건 부합 데이터 추출
display_side_by_side(df, df_q)

,age,weight
0,10,20
1,10,30
2,21,60
3,22,70
,age,weight
2,21,60
3,22,70

## 문자열 부분검색

`str.contains`,`str.startswith`,`str.endswith`

In [20]:
data = {"name": ["White tiger", "Tiger black", "Red tiger"], "age": [5, 7, 9]}
df = pd.DataFrame(data)
display(df)

          name  age
0  White tiger    5
1  Tiger black    7
2    Red tiger    9

In [29]:
str_expr = "name.str.contains('tiger').values" # 문자열에 tiger 포함
df_q = df.query(str_expr)               # 조건 부합 데이터 추출
display_side_by_side(df, df_q)

,name,age
0,White tiger,5
1,Tiger black,7
2,Red tiger,9
,name,age
0,White tiger,5
2,Red tiger,9

In [28]:
str_expr = "name.str.contains('tiger', case=False).values" # 문자열에 tiger 포함(대소문자관계없음)
df_q = df.query(str_expr)                           # 조건 부합 데이터 추출
display_side_by_side(df, df_q)

,name,age
0,White tiger,5
1,Tiger black,7
2,Red tiger,9
,name,age
0,White tiger,5
1,Tiger black,7
2,Red tiger,9

In [27]:
str_expr = "name.str.startswith('Tiger').values" # Tiger로 시작하는 문자열
df_q = df.query(str_expr)                 # 조건 부합 데이터 추출
display_side_by_side(df, df_q)

,name,age
0,White tiger,5
1,Tiger black,7
2,Red tiger,9
,name,age
1,Tiger black,7

In [26]:
str_expr = "name.str.endswith('tiger').values" # tiger로 끝나는 문자열
df_q = df.query(str_expr)               # 조건 부합 데이터 추출
display_side_by_side(df, df_q)

,name,age
0,White tiger,5
1,Tiger black,7
2,Red tiger,9
,name,age
0,White tiger,5
2,Red tiger,9

**Reference**

* <a href='https://github.com/SeWonKwon' ><div> <img src ='https://slid-capture.s3.ap-northeast-2.amazonaws.com/public/image_upload/6556674324ed41a289a354258718280d/964e5a8b-75ad-41fc-ae75-0ca66d06fbc7.png' align='left' /> </div></a>

<br>


* https://m.blog.naver.com/wideeyed/221867273249