단계 1. 필요한 라이브러리를 가져온다.

In [1]:
import pandas as pd

단계 2. 이 [주소](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv)에서 필요한 데이터를 가져온다
단계 3. chipo라는 변수에 저장한다. ( 다운 받지 않고 url 자체로 가능 )

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

단계 4. 첫 10개 행을 본다.

In [4]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

단계 5. 데이터 안에 몇 개의 관측치가 들어 있나? ( 2가지 방법 )

In [5]:
df.size

23110

In [6]:
df.shape

(4622, 5)

In [7]:
df.index

RangeIndex(start=0, stop=4622, step=1)

단계 6. 데이터에 열columns은 몇 개인가?

In [38]:
df.shape[1]

7

In [8]:
len(df.columns)

5

단계 7. 모든 열의 이름을 출력하라.

In [9]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

단계 8. 데이터는 어떻게 색인되어 있나?
(인덱스가 어떤 식으로 이뤄져 있는지?)

In [10]:
df.index

RangeIndex(start=0, stop=4622, step=1)

단계 9. 어떤 물건을 가장 많이 구매하나?

In [11]:
df.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [12]:
df.item_name.value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

정답

In [42]:
df_g_item_name = df.groupby('item_name')
df_g_item_name.sum()

,order_id,quantity,item_price($),total_price
item_name,,,,
6 Pack Soft Drink,52322,55,356.95,369.93
Barbacoa Bowl,53972,66,672.36,672.36
Barbacoa Burrito,74718,91,894.75,894.75
Barbacoa Crispy Tacos,5613,12,120.21,138.71
Barbacoa Salad Bowl,9708,10,106.40,106.40
Barbacoa Soft Tacos,18725,25,250.46,250.46
Bottled Water,175944,211,302.56,649.18
Bowl,472,4,29.60,74.00
Burrito,1550,6,44.40,44.40
Canned Soda,76396,126,137.34,191.84
Canned Soft Drink,304753,351,438.75,603.75
Carnitas Bowl,62742,71,736.71,830.71
Carnitas Burrito,51652,60,597.83,616.33
Carnitas Crispy Tacos,5868,8,77.96,95.94
Carnitas Salad,1500,1,8.99,8.99
Carnitas Salad Bowl,6693,6,66.34,66.34
Carnitas Soft Tacos,37673,40,375.94,375.94
Chicken Bowl,713926,761,7342.73,8044.63
Chicken Burrito,497303,591,5575.82,6387.06
Chicken Crispy Tacos,47382,50,472.13,524.11
Chicken Salad,10465,9,81.09,81.09
Chicken Salad Bowl,117104,123,1228.75,1506.25
Chicken Soft Tacos,98395,120,1108.09,1199.01
Chips,208004,230,494.34,580.34
Chips and Fresh Tomato Salsa,100419,130,361.36,1033.96
Chips and Guacamole,449959,506,2201.04,2475.62
Chips and Mild Fresh Tomato Salsa,279,1,3.00,3.00
Chips and Roasted Chili Corn Salsa,14999,23,67.85,73.75
Chips and Roasted Chili-Corn Salsa,17462,18,43.02,43.02
Chips and Tomatillo Green Chili Salsa,41170,45,132.75,144.55
Chips and Tomatillo Red Chili Salsa,45556,50,147.50,159.30
Chips and Tomatillo-Green Chili Salsa,21826,33,78.87,88.43
Chips and Tomatillo-Red Chili Salsa,18344,25,59.75,93.21
Crispy Tacos,434,2,14.80,14.80
Izze,10587,20,67.80,67.80
Nantucket Nectar,21814,29,98.31,111.87
Salad,1150,2,14.80,14.80
Side of Chips,84769,110,185.90,290.68
Steak Bowl,193752,221,2260.19,2479.81
Steak Burrito,328437,386,3851.43,4236.13
Steak Crispy Tacos,35818,36,357.34,375.32
Steak Salad,2362,4,35.66,35.66
Steak Salad Bowl,29590,31,343.59,391.15
Steak Soft Tacos,50177,56,536.05,554.55
Veggie Bowl,72270,87,867.99,901.95
Veggie Burrito,80962,97,934.77,1002.27
Veggie Crispy Tacos,668,1,8.49,8.49
Veggie Salad,7265,6,50.94,50.94
Veggie Salad Bowl,17303,18,182.50,182.50
Veggie Soft Tacos,5520,8,73.96,90.94

In [44]:
df_g_item_name.sum().sort_values(['quantity'], ascending=False)

,order_id,quantity,item_price($),total_price
item_name,,,,
Chicken Bowl,713926,761,7342.73,8044.63
Chicken Burrito,497303,591,5575.82,6387.06
Chips and Guacamole,449959,506,2201.04,2475.62
Steak Burrito,328437,386,3851.43,4236.13
Canned Soft Drink,304753,351,438.75,603.75
Chips,208004,230,494.34,580.34
Steak Bowl,193752,221,2260.19,2479.81
Bottled Water,175944,211,302.56,649.18
Chips and Fresh Tomato Salsa,100419,130,361.36,1033.96
Canned Soda,76396,126,137.34,191.84
Chicken Salad Bowl,117104,123,1228.75,1506.25
Chicken Soft Tacos,98395,120,1108.09,1199.01
Side of Chips,84769,110,185.90,290.68
Veggie Burrito,80962,97,934.77,1002.27
Barbacoa Burrito,74718,91,894.75,894.75
Veggie Bowl,72270,87,867.99,901.95
Carnitas Bowl,62742,71,736.71,830.71
Barbacoa Bowl,53972,66,672.36,672.36
Carnitas Burrito,51652,60,597.83,616.33
Steak Soft Tacos,50177,56,536.05,554.55
6 Pack Soft Drink,52322,55,356.95,369.93
Chips and Tomatillo Red Chili Salsa,45556,50,147.50,159.30
Chicken Crispy Tacos,47382,50,472.13,524.11
Chips and Tomatillo Green Chili Salsa,41170,45,132.75,144.55
Carnitas Soft Tacos,37673,40,375.94,375.94
Steak Crispy Tacos,35818,36,357.34,375.32
Chips and Tomatillo-Green Chili Salsa,21826,33,78.87,88.43
Steak Salad Bowl,29590,31,343.59,391.15
Nantucket Nectar,21814,29,98.31,111.87
Chips and Tomatillo-Red Chili Salsa,18344,25,59.75,93.21
Barbacoa Soft Tacos,18725,25,250.46,250.46
Chips and Roasted Chili Corn Salsa,14999,23,67.85,73.75
Izze,10587,20,67.80,67.80
Veggie Salad Bowl,17303,18,182.50,182.50
Chips and Roasted Chili-Corn Salsa,17462,18,43.02,43.02
Barbacoa Crispy Tacos,5613,12,120.21,138.71
Barbacoa Salad Bowl,9708,10,106.40,106.40
Chicken Salad,10465,9,81.09,81.09
Carnitas Crispy Tacos,5868,8,77.96,95.94
Veggie Soft Tacos,5520,8,73.96,90.94
Burrito,1550,6,44.40,44.40
Veggie Salad,7265,6,50.94,50.94
Carnitas Salad Bowl,6693,6,66.34,66.34
Bowl,472,4,29.60,74.00
Steak Salad,2362,4,35.66,35.66
Salad,1150,2,14.80,14.80
Crispy Tacos,434,2,14.80,14.80
Chips and Mild Fresh Tomato Salsa,279,1,3.00,3.00
Carnitas Salad,1500,1,8.99,8.99
Veggie Crispy Tacos,668,1,8.49,8.49

In [46]:
df_g_item_name.sum().sort_values(['quantity'], ascending=False).head(1)

              order_id  quantity  item_price($)  total_price
item_name
Chicken Bowl    713926       761        7342.73      8044.63

단계 10. 가장 많이 구매하는 물건을 총 몇 개나 구매했나?

In [47]:
df.item_name.value_counts().head(1).sum() # quantity 가 2개이상인것들을 무시함

726

단계 11. choice_description 열에서 가장 많이 구매한 아이템은 무엇인가?

In [14]:
df.choice_description

0                                                     NaN
1                                            [Clementine]
2                                                 [Apple]
3                                                     NaN
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object

In [15]:
df.choice_description.value_counts()

[Diet Coke]                                                                                                           134
[Coke]                                                                                                                123
[Sprite]                                                                                                               77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                 42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                      40
                                                                                                                     ...
[Fresh Tomato (Mild), [Lettuce, Fajita Veggies, Black Beans, Rice, Sour Cream, Cheese]]                                 1
[[Fresh Tomato Salsa (Mild), Tomatillo-Red Chili Salsa (Hot)], [Guacamole, Rice, Black Beans, Cheese, Sour Cream]]      1
[[Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Lettuce]]            1
[Fresh Tomato Salsa, [Rice, Black Beans, Fajita Vegetables, Lettuce, Cheese, Sour Cream]]                               1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegetables, Cheese]]                                                           1
Name: choice_description, Length: 1043, dtype: int64

정답 마찬가지로 위에도 quatity를 고려 하지 않음

In [48]:
df_gby_choice = df.groupby('choice_description').sum()
df_gby_choice.sort_values(['quantity'], ascending=False).head(1)

                    order_id  quantity  item_price($)  total_price
choice_description
[Diet Coke]           123455       159         326.71       408.41

단계 12. 모두 합쳐서 몇 개의 아이템을 구매했나?

In [16]:
df.iloc[:,[1]].sum()

quantity    4972
dtype: int64

In [17]:
df.index

RangeIndex(start=0, stop=4622, step=1)

단계 13. 아이템 가격item_price을 float 자료형으로 바꿔라

In [18]:
df.item_price

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

단계 13.a. 아이템 가격의 자료형을 확인하자.

In [19]:
df.item_price.describe()

count       4622
unique        78
top       $8.75
freq         730
Name: item_price, dtype: object

단계 13.b. 람다 함수를 만들어서 아이템 가격을 바꿔보자.

```
df["weight(kg)"] = \
df["weight"].map(lambda x : float(re.sub('lbs.', '' , x )) * 0.453592)
df["height(cm)"] = \
df["height"].map(lambda x : round( 2.54 * (float(re.sub(r'[^A-Za-z0-9]+', ' ' , x ).split(" ")[0])*12 + float(re.sub(r'[^A-Za-z0-9]+', ' ' , x ).split(" ")[1])  ) , 1 ))
```

In [20]:
import re
df['item_price($)'] = df["item_price"].map(lambda x : 0.01*float(re.sub(r'[^A-Za-z0-9]+','',x)))

In [21]:
df['item_price($)']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price($), Length: 4622, dtype: float64

In [49]:
dollarizer = lambda x: float(x[1:-1])
df['item_price(d)'] = df.item_price.apply(dollarizer)
df['item_price(d)'].head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price(d), dtype: float64

단계 13.c. 다시 아이템 가격의 자료형을 확인하자.

In [22]:
df['item_price($)'].dtypes

dtype('float64')

In [23]:
df.head(3)

,order_id,quantity,item_name,choice_description,item_price,item_price($)
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39

In [24]:
df.tail()

,order_id,quantity,item_name,choice_description,item_price,item_price($)
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

단계 14. 데이터에 나온 기간 동안 수익revenue은 얼마인가?

In [25]:
df.head(3)

,order_id,quantity,item_name,choice_description,item_price,item_price($)
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39

```
## 기본틀
df.apply(lambda x: func(x['col1'],x['col2']),axis=1)

def custom(type1 , hp) :
    if 'Dragon' in type1 :
        return hp + 100
    elif 'Normal' in type1 :
        return hp/2
    else :
        return hp
    
df["New_hp"] = df.apply(lambda x : custom(x["type1"], x["hp"]) , axis = 1 )

df[["type1", "hp","New_hp"]].groupby( "type1" ).first().head()
```

In [26]:

df['total_price'] = df.apply(lambda x : x['quantity']*x['item_price($)'], axis=1)

In [27]:
df['total_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       33.96
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: total_price, Length: 4622, dtype: float64

In [28]:
df.loc[(df['quantity']>=2),['item_price','quantity','total_price']]

     item_price  quantity  total_price
4       $16.98          2        33.96
18       $2.18          2         4.36
51       $2.18          2         4.36
135     $22.50          2        45.00
148     $17.98          2        35.96
...         ...       ...          ...
4491     $5.00          4        20.00
4499     $2.50          2         5.00
4560     $2.50          2         5.00
4561    $17.50          2        35.00
4582     $3.00          2         6.00

[267 rows x 3 columns]

In [29]:
df.total_price.sum()

39237.02

단계 15. 이 테이블 내에서 얼마나 많은 구매가 이루어졌나? 
(단, order_id가 같은 구매는 한 건의 구매로 간주한다)

In [30]:
df.order_id

0          1
1          1
2          1
3          1
4          2
        ...
4617    1833
4618    1833
4619    1834
4620    1834
4621    1834
Name: order_id, Length: 4622, dtype: int64

In [31]:
df.order_id.unique()

array([   1,    2,    3, ..., 1832, 1833, 1834], dtype=int64)

In [32]:
df.order_id.unique().shape

(1834,)

In [33]:
df.order_id.unique().shape[0]

1834

단계 16. 구매 당 평균 수익은 얼마인가? ( 두가지 방법 )

In [34]:
df.total_price.sum()/df.order_id.unique().shape[0]

21.39423118865867

In [53]:
# Solution 1
df['revenue'] = df['quantity']*df['item_price(d)']
order_grouped = df.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [52]:
# Solution 2 
df.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

단계 17. 팔린 서로 다른 아이템의 종류는 몇 가지인가?

In [35]:
df.head()

,order_id,quantity,item_name,choice_description,item_price,item_price($),total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,33.96

In [36]:
df.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [37]:
df.item_name.unique().shape[0]

50

In [50]:
df.item_name.value_counts().count()

50