Step 1. Import the necessary libraries

In [38]:
import pandas as pd
import numpy as np

Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

In [39]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'

Step 3. Assign it to a variable called df.

In [40]:
df = pd.read_csv(url)

In [41]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [42]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [43]:
list(df.columns).index('guardian')

11

In [44]:
df = df.iloc[:,0:12]

In [45]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian'],
      dtype='object')

Step 5. Create a lambda function that capitalize strings.

In [46]:
capita = lambda x : x.capitalize()

Step 6. Capitalize both Mjob and Fjob

In [47]:
df.Mjob, df.Fjob = df.Mjob.apply(capita), df.Fjob.apply(capita)

In [48]:
df.Mjob, df.Fjob

(0       At_home
 1       At_home
 2       At_home
 3        Health
 4         Other
          ...
 390    Services
 391    Services
 392       Other
 393    Services
 394       Other
 Name: Mjob, Length: 395, dtype: object,
 0       Teacher
 1         Other
 2         Other
 3      Services
 4         Other
          ...
 390    Services
 391    Services
 392       Other
 393       Other
 394     At_home
 Name: Fjob, Length: 395, dtype: object)

Step 7. Print the last elements of the data set.Â¶

In [49]:
df.head(1)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother

Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [50]:
legal_d = lambda x : x > 17

In [51]:
df['legal_drinker'] = df.age.apply(legal_d)

In [52]:
df.head(2)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False

Step 10. Multiply every number of the dataset by 10.
I know this makes no sense, don't forget it is just an exercise

In [53]:
def times10(x):
    if type(x) is int:
        return 10 * x
    return x

In [54]:
df.applymap(times10).head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,mother,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,father,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,mother,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,mother,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,home,father,False