United States - Crime Rates - 1960 - 2014

# Step 1. Import the necessary libraries

In [5]:
import pandas as pd

# Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

In [6]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv'

# Step 3. Assign it to a variable called crime.

In [3]:
crime = pd.read_csv(url)

In [4]:
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

# Step 4. What is the type of the columns?¶

In [7]:
crime.columns

Index(['Year', 'Population', 'Total', 'Violent', 'Property', 'Murder',
       'Forcible_Rape', 'Robbery', 'Aggravated_assault', 'Burglary',
       'Larceny_Theft', 'Vehicle_Theft'],
      dtype='object')

In [8]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     int64
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

# Step 5. Convert the type of the column Year to datetime64

Have you noticed that the type of Year is int64.   
But pandas has a different type to work with Time Series. Let's see it now.

In [20]:
crime.Year.head()

0    1960
1    1961
2    1962
3    1963
4    1964
Name: Year, dtype: int64

In [21]:
pd.to_datetime(crime.Year, format="%Y").head()

0   1960-01-01
1   1961-01-01
2   1962-01-01
3   1963-01-01
4   1964-01-01
Name: Year, dtype: datetime64[ns]

In [22]:
crime.Year = pd.to_datetime(crime.Year, format="%Y")

In [23]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     datetime64[ns]
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: datetime64[ns](1), int64(11)
memory usage: 5.3 KB

# Step 6. Set the Year column as the index of the dataframe

In [37]:
crime.index = crime.Year

In [44]:
crime = crime.drop(['Year'], axis=1)

# Step 7. Delete the Total column

In [45]:
crime = crime.drop(['Total'], axis=1)

In [46]:
crime.columns

Index(['Population', 'Violent', 'Property', 'Murder', 'Forcible_Rape',
       'Robbery', 'Aggravated_assault', 'Burglary', 'Larceny_Theft',
       'Vehicle_Theft'],
      dtype='object')

# Step 8. Group the year by decades and sum the values   

Pay attention to the Population column number, summing this column is a mistake

In [60]:
crime.index

DatetimeIndex(['1960-01-01', '1961-01-01', '1962-01-01', '1963-01-01',
               '1964-01-01', '1965-01-01', '1966-01-01', '1967-01-01',
               '1968-01-01', '1969-01-01', '1970-01-01', '1971-01-01',
               '1972-01-01', '1973-01-01', '1974-01-01', '1975-01-01',
               '1976-01-01', '1977-01-01', '1978-01-01', '1979-01-01',
               '1980-01-01', '1981-01-01', '1982-01-01', '1983-01-01',
               '1984-01-01', '1985-01-01', '1986-01-01', '1987-01-01',
               '1988-01-01', '1989-01-01', '1990-01-01', '1991-01-01',
               '1992-01-01', '1993-01-01', '1994-01-01', '1995-01-01',
               '1996-01-01', '1997-01-01', '1998-01-01', '1999-01-01',
               '2000-01-01', '2001-01-01', '2002-01-01', '2003-01-01',
               '2004-01-01', '2005-01-01', '2006-01-01', '2007-01-01',
               '2008-01-01', '2009-01-01', '2010-01-01', '2011-01-01',
               '2012-01-01', '2013-01-01', '2014-01-01'],
              dtype='datetime64[ns]', name='Year', freq=None)

In [47]:
crime.head(3)

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800

In [59]:
crime_1960 = crime.loc['1960':'1969']
crime_1960.iloc[:, 1:].sum()

Violent                4134930
Property              45160900
Murder                  106180
Forcible_Rape           236720
Robbery                1633510
Aggravated_assault     2158520
Burglary              13321100
Larceny_Theft         26547700
Vehicle_Theft          5292100
dtype: int64

In [61]:
crime_1970 = crime.loc['1970':'1979']
crime_1970.iloc[:, 1:].sum()

Violent                9607930
Property              91383800
Murder                  192230
Forcible_Rape           554570
Robbery                4159020
Aggravated_assault     4702120
Burglary              28486000
Larceny_Theft         53157800
Vehicle_Theft          9739900
dtype: int64

In [71]:
year_sum={}
for i in range(1960,2014, 10):
    year_sum[i] = (crime.loc[str(i):str(i+9)].iloc[:, 1:].sum())

In [75]:
df_year_sum = pd.DataFrame(year_sum).T

In [76]:
df_year_sum

,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
1960,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
1970,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
1980,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
1990,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
2000,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
2010,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080

답안  

resample 활용

In [103]:
crime = pd.read_csv(url)
crime.Year = pd.to_datetime(crime.Year, format='%Y')

In [104]:
crime = crime.set_index('Year', drop = True)
crime.head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

In [106]:
# To learn more about .resample (https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html)
# To learn more about Offset Aliases (http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)




# Uses resample to sum each decade
crimes = crime.resample('10AS').sum()

# Uses resample to get the max value only for the "Population" column
population = crime['Population'].resample('10AS').max()

# Updating the "Population" column
crimes['Population'] = population

crimes

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960-01-01,201385000,49295900,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
1970-01-01,220099000,100991600,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
1980-01-01,248239000,131123369,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
1990-01-01,272690813,136582146,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
2000-01-01,307006550,115012044,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
2010-01-01,318857056,50167967,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080

# Step 9. What is the mos dangerous decade to live in the US?¶

In [78]:
df_year_sum==df_year_sum.max()

,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
1960,False,False,False,False,False,False,False,False,False
1970,False,False,False,False,False,False,False,False,False
1980,False,False,False,False,False,False,True,False,False
1990,True,True,True,True,True,True,False,True,True
2000,False,False,False,False,False,False,False,False,False
2010,False,False,False,False,False,False,False,False,False

In [82]:
(df_year_sum==df_year_sum.max()).sum(axis=1)

1960    0
1970    0
1980    1
1990    8
2000    0
2010    0
dtype: int64

In [89]:
most_dangerous = (df_year_sum==df_year_sum.max()).sum(axis=1)==(df_year_sum==df_year_sum.max()).sum(axis=1).max()
most_dangerous

1960    False
1970    False
1980    False
1990     True
2000    False
2010    False
dtype: bool

In [92]:
df_year_sum.index[most_dangerous.values][0]

1990

답안

In [95]:
crimes.idxmax(0)

Population           2010-01-01
Violent              1990-01-01
Property             1990-01-01
Murder               1990-01-01
Forcible_Rape        1990-01-01
Robbery              1990-01-01
Aggravated_assault   1990-01-01
Burglary             1980-01-01
Larceny_Theft        1990-01-01
Vehicle_Theft        1990-01-01
dtype: datetime64[ns]