Pokemon
Introduction:
This time you will create the data.

# Step 1. Import the necessary libraries

In [12]:
import pandas as pd
import numpy as np

# Step 2. Create a data dictionary¶

In [13]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

# Step 3. Assign it to a variable called

In [14]:
df = pd.DataFrame(raw_data)
df

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

# Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex

In [15]:
cols = df.columns
cols = [ cols[0] ,cols[2] , cols[3] , cols[1] , cols[-1] ]
cols

['name', 'type', 'hp', 'evolution', 'pokedex']

In [16]:
df = df[cols]

In [17]:
df

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

# Step 5. Add another column called place, and insert what you have in mind.

In [25]:
df['place'] = ['공원', '번화가', '바닷가', '뒷골목']

<ipython-input-25-e77ef084b3e5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['place'] = ['공원', '번화가', '바닷가', '뒷골목']

In [26]:
df

         name   type  hp   evolution pokedex place
0   Bulbasaur  grass  45     Ivysaur     yes    공원
1  Charmander   fire  39  Charmeleon      no   번화가
2    Squirtle  water  44   Wartortle     yes   바닷가
3    Caterpie    bug  45     Metapod      no   뒷골목

# Step 6. Present the type of each column

In [27]:
df.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object