# 단계 1. https://www.kaggle.com/openfoodfacts/world-food-facts/data 로 간다.
단계 2.데이터를 다운 받아서 압축을 푼다.¶

# 단계 3. tsv파일을 불러와서 food라는 이름의 데이터 프레임에 저장한다.
( read_csv로 가능, tsv는 tap으로 나눠진 파일 형태다. )

(잊지 말고 넘파이와 판다스를 import한다. 
아마 몇 컬럼의 타입이 섞여 있다have mixed types.라는 오류가 뜰 텐데 정상이다. 
계속 진행하면 된다.)

In [4]:
import pandas as pd

df = pd.read_csv('./Resources/en.openfoodfacts.org.products.tsv/en.openfoodfacts.org.products.tsv', sep='\t')

C:\Users\N\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# 단계 4. 처음 5개 열을 본다

In [5]:
df.head()

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,3087,http://world-en.openfoodfacts.org/product/0000...,openfoodfacts-contributors,1474103866,2016-09-17T09:17:46Z,1474103893,2016-09-17T09:18:13Z,Farine de blé noir,NaN,1kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4530,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Banana Chips Sweetened (Whole),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,4559,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Peanuts,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,16087,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055731,2017-03-09T10:35:31Z,1489055731,2017-03-09T10:35:31Z,Organic Salted Nut Mix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,16094,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055653,2017-03-09T10:34:13Z,1489055653,2017-03-09T10:34:13Z,Organic Polenta,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 단계 5. 데이터 셋에 있는 관측치는 모두 몇 개인가?

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356027 entries, 0 to 356026
Columns: 163 entries, code to water-hardness_100g
dtypes: float64(107), object(56)
memory usage: 442.8+ MB

In [14]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
code,356001,355839,7.06508e+10,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
url,356001,356001,http://world-en.openfoodfacts.org/product/8421...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
creator,356024,3890,usda-ndb-import,169868,NaN,NaN,NaN,NaN,NaN,NaN,NaN
created_t,356024,224812,1.48908e+09,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
created_datetime,356017,224752,2017-03-09T10:37:09Z,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
carbon-footprint_100g,278,NaN,NaN,NaN,335.791,423.245,0,82.65,190.95,378.7,2842
nutrition-score-fr_100g,254856,NaN,NaN,NaN,9.16614,8.99987,-15,1,10,16,40
nutrition-score-uk_100g,254856,NaN,NaN,NaN,8.98066,9.15176,-15,1,9,16,40
glycemic-index_100g,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
water-hardness_100g,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.size

58032401

# 단계 6. 데이터 셋에 있는 열의 수는 몇 개인가?

In [16]:
df.shape[0]

356027

# 단계 7. 모든 열의 이름을 출력해본다

In [19]:
df.columns

Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

# 단계 8. 105번째 열의 이름name은 무엇인가?

In [21]:
df.columns[104]

'-glucose_100g'

# 단계 9. 105번째 열의 타입은 무엇인가?

In [26]:
df.iloc[:,104].dtype

dtype('float64')

# 단계 10. 이 데이터의 인덱스는 어떻게 이루어져 있는가?

In [27]:
df.index

RangeIndex(start=0, stop=356027, step=1)

# 단계 11. 19번째 관측치(observation)의 상품명(product name)은 무엇인가?

In [33]:
df.columns

Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

In [35]:
df.loc[:,['product_name']]

                                             product_name
0                                      Farine de blé noir
1                          Banana Chips Sweetened (Whole)
2                                                 Peanuts
3                                  Organic Salted Nut Mix
4                                         Organic Polenta
...                                                   ...
356022  Mint Melange Tea A Blend Of Peppermint, Lemon ...
356023                                            乐吧泡菜味薯片
356024                                      Biscottes bio
356025                           Tomates aux Vermicelles
356026                    Sugar Free Drink Mix, Peach Tea

[356027 rows x 1 columns]

In [37]:
df.product_name

0                                        Farine de blé noir
1                            Banana Chips Sweetened (Whole)
2                                                   Peanuts
3                                    Organic Salted Nut Mix
4                                           Organic Polenta
                                ...
356022    Mint Melange Tea A Blend Of Peppermint, Lemon ...
356023                                              乐吧泡菜味薯片
356024                                        Biscottes bio
356025                             Tomates aux Vermicelles
356026                      Sugar Free Drink Mix, Peach Tea
Name: product_name, Length: 356027, dtype: object

In [36]:
df.loc[18,['product_name']]

product_name    Lotus Organic Brown Jasmine Rice
Name: 18, dtype: object