# Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

# Step 2. Create the DataFrame with the following values:

In [4]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

# Step 3. Assign it to a variable called regiment.
Don't forget to name each column

In [6]:
regiment = pd.DataFrame(raw_data, columns=raw_data.keys())

In [7]:
regiment.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

# Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [11]:
regiment[regiment['regiment']=='Nighthawks'].preTestScore.mean()

15.25

# Step 5. Present general statistics by company

In [21]:
regiment.groupby('company').describe().T

company                    1st        2nd
preTestScore  count   6.000000   6.000000
              mean    6.666667  15.500000
              std     8.524475  14.652645
              min     2.000000   2.000000
              25%     3.000000   2.250000
              50%     3.500000  13.500000
              75%     4.000000  29.250000
              max    24.000000  31.000000
postTestScore count   6.000000   6.000000
              mean   57.666667  67.000000
              std    27.485754  14.057027
              min    25.000000  57.000000
              25%    34.250000  58.250000
              50%    66.000000  62.000000
              75%    70.000000  68.000000
              max    94.000000  94.000000

# Step 6. What is the mean each company's preTestScore?Â¶

In [14]:
regiment.groupby('company').preTestScore.mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

# Step 7. Present the mean preTestScores grouped by regiment and company

In [16]:
regiment.groupby(['company', 'regiment']).preTestScore.mean()

company  regiment
1st      Dragoons       3.5
         Nighthawks    14.0
         Scouts         2.5
2nd      Dragoons      27.5
         Nighthawks    16.5
         Scouts         2.5
Name: preTestScore, dtype: float64

# Step 8. Present the mean preTestScores grouped by regiment and company without hierarchical indexing

[what is Hierarchical Indexing](https://www.xplenty.com/glossary/what-is-hierarchical-indexing/)

In [17]:
regiment.groupby(['company', 'regiment']).preTestScore.mean().unstack()

regiment  Dragoons  Nighthawks  Scouts
company
1st            3.5        14.0     2.5
2nd           27.5        16.5     2.5

# Step 9. Group the entire dataframe by regiment and company

In [26]:
regi_com = regiment.groupby(['regiment','company'])
regi_com.mean()

                    preTestScore  postTestScore
regiment   company
Dragoons   1st               3.5           47.5
           2nd              27.5           75.5
Nighthawks 1st              14.0           59.5
           2nd              16.5           59.5
Scouts     1st               2.5           66.0
           2nd               2.5           66.0

# Step 10. What is the number of observations in each regiment and company

In [27]:
regi_com.size()

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

# Step 11. Iterate over a group and print the name and the whole data from the regiment

In [28]:
for i , j in regi_com:
    print(i)
    print(j)

('Dragoons', '1st')
   regiment company   name  preTestScore  postTestScore
4  Dragoons     1st  Cooze             3             70
5  Dragoons     1st  Jacon             4             25
('Dragoons', '2nd')
   regiment company    name  preTestScore  postTestScore
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57
('Nighthawks', '1st')
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
('Nighthawks', '2nd')
     regiment company    name  preTestScore  postTestScore
2  Nighthawks     2nd     Ali            31             57
3  Nighthawks     2nd  Milner             2             62
('Scouts', '1st')
  regiment company   name  preTestScore  postTestScore
8   Scouts     1st  Sloan             2             62
9   Scouts     1st  Piger             3             70
('Scouts', '2nd')
   regiment company   name  preTestScore  postTestScore
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70

In [29]:

# Group the dataframe by regiment, and for each regiment,
for name, group in regiment.groupby('regiment'):
    # print the name of the regiment
    print(name)
    # print the data of that regiment
    print(group)

Dragoons
   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57
Nighthawks
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
Scouts
   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70