Iris
Introduction:
This exercise may seem a little bit strange, but keep doing it.

# Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use(['seaborn-whitegrid'])

# Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

In [1]:
url='https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

# Step 3. Assign it to a variable called iris

In [6]:
iris = pd.read_csv(url, header=None)

In [7]:
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

# Step 4. Create columns for the dataset

In [9]:
iris.columns = ['A','B','C','D','target']

In [10]:
iris

       A    B    C    D          target
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

# Step 5. Is there any missing value in the dataframe?

In [12]:
iris.isnull().sum().sum()

0

# Step 6. Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [15]:
iris.iloc[10:30,0]=None

In [16]:
iris.isnull().sum()

A         19
B          0
C          0
D          0
target     0
dtype: int64

In [ ]:
# iris.iloc[10:30,2:3] = np.nan
# iris.head(20)

# Step 7. Good, now lets substitute the NaN values to 1.0

In [19]:
iris = iris.fillna(1.)

In [20]:
iris.isnull().sum()

A         0
B         0
C         0
D         0
target    0
dtype: int64

# Step 8. Now let's delete the column class

In [22]:
iris.drop('target',axis=1, inplace=True)
iris

       A    B    C    D
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [ ]:
# del iris['class']

# Step 9. Set the first 3 rows as NaN

In [23]:
iris.iloc[:3,:] = None # np.nan
iris

       A    B    C    D
0    NaN  NaN  NaN  NaN
1    NaN  NaN  NaN  NaN
2    NaN  NaN  NaN  NaN
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

# Step 10. Delete the rows that have NaN

In [24]:
iris.dropna(inplace=True, axis=0)
# iris = iris.dropna(how='any')

In [25]:
iris

       A    B    C    D
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
5    5.4  3.9  1.7  0.4
6    4.6  3.4  1.4  0.3
7    5.0  3.4  1.5  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[147 rows x 4 columns]

# Step 11. Reset the index so it begins with 0 again

In [28]:
iris.index = range(iris.shape[0])

In [29]:

iris

       A    B    C    D
0    4.6  3.1  1.5  0.2
1    5.0  3.6  1.4  0.2
2    5.4  3.9  1.7  0.4
3    4.6  3.4  1.4  0.3
4    5.0  3.4  1.5  0.2
..   ...  ...  ...  ...
142  6.7  3.0  5.2  2.3
143  6.3  2.5  5.0  1.9
144  6.5  3.0  5.2  2.0
145  6.2  3.4  5.4  2.3
146  5.9  3.0  5.1  1.8

[147 rows x 4 columns]

In [30]:
iris = iris.reset_index(drop = True)
iris.head()

     A    B    C    D
0  4.6  3.1  1.5  0.2
1  5.0  3.6  1.4  0.2
2  5.4  3.9  1.7  0.4
3  4.6  3.4  1.4  0.3
4  5.0  3.4  1.5  0.2