Wine
Introduction:
This exercise is a adaptation from the UCI Wine dataset. The only pupose is to practice deleting data with pandas.

# Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

In [21]:
url='https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'

# Step 3. Assign it to a variable called wine

In [22]:
wine = pd.read_csv(url, header=None)

In [23]:
wine.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185

# Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [24]:
wine.drop([0,3,6,8,10,12,13],axis=1, inplace=True)

In [25]:
wine

        1     2     4    5     7     9     11
0    14.23  1.71  15.6  127  3.06  2.29  1.04
1    13.20  1.78  11.2  100  2.76  1.28  1.05
2    13.16  2.36  18.6  101  3.24  2.81  1.03
3    14.37  1.95  16.8  113  3.49  2.18  0.86
4    13.24  2.59  21.0  118  2.69  1.82  1.04
..     ...   ...   ...  ...   ...   ...   ...
173  13.71  5.65  20.5   95  0.61  1.06  0.64
174  13.40  3.91  23.0  102  0.75  1.41  0.70
175  13.27  4.28  20.0  120  0.69  1.35  0.59
176  13.17  2.59  20.0  120  0.68  1.46  0.60
177  14.13  4.10  24.5   96  0.76  1.35  0.61

[178 rows x 7 columns]

# Step 5. Assign the columns as below:
The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):
1. alcohol
2. malic_acid
3. alcalinity_of_ash
4. magnesium
5. flavanoids
6. proanthocyanins
7. hue

In [27]:
wine.columns = ['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue']

In [28]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.23,1.71,15.6,127,3.06,2.29,1.04
1,13.20,1.78,11.2,100,2.76,1.28,1.05
2,13.16,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04
...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95,0.61,1.06,0.64
174,13.40,3.91,23.0,102,0.75,1.41,0.70
175,13.27,4.28,20.0,120,0.69,1.35,0.59
176,13.17,2.59,20.0,120,0.68,1.46,0.60
177,14.13,4.10,24.5,96,0.76,1.35,0.61

# Step 6. Set the values of the first 3 rows from alcohol as NaN

In [31]:
wine.iloc[:3, 0]= np.NaN

In [32]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127,3.06,2.29,1.04
1,NaN,1.78,11.2,100,2.76,1.28,1.05
2,NaN,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04
...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95,0.61,1.06,0.64
174,13.40,3.91,23.0,102,0.75,1.41,0.70
175,13.27,4.28,20.0,120,0.69,1.35,0.59
176,13.17,2.59,20.0,120,0.68,1.46,0.60
177,14.13,4.10,24.5,96,0.76,1.35,0.61

# Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [33]:
wine.iloc[3:5, 3] = np.NaN

In [34]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127.0,3.06,2.29,1.04
1,NaN,1.78,11.2,100.0,2.76,1.28,1.05
2,NaN,2.36,18.6,101.0,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,13.24,2.59,21.0,NaN,2.69,1.82,1.04
...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95.0,0.61,1.06,0.64
174,13.40,3.91,23.0,102.0,0.75,1.41,0.70
175,13.27,4.28,20.0,120.0,0.69,1.35,0.59
176,13.17,2.59,20.0,120.0,0.68,1.46,0.60
177,14.13,4.10,24.5,96.0,0.76,1.35,0.61

# Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [35]:
wine.loc[10, 'alcohol'] = np.NaN
wine.loc[100, 'magnesium'] = np.NaN

In [ ]:
wine.alcohol.fillna(10, inplace = True)

wine.magnesium.fillna(100, inplace = True)

wine.head()

In [37]:
wine.iloc[10,:]

alcohol                 NaN
malic_acid             2.16
alcalinity_of_ash     18.00
magnesium            105.00
flavanoids             3.32
proanthocyanins        2.38
hue                    1.25
Name: 10, dtype: float64

In [38]:
wine.iloc[100,:]

alcohol              12.08
malic_acid            2.08
alcalinity_of_ash    17.50
magnesium              NaN
flavanoids            2.17
proanthocyanins       1.40
hue                   1.27
Name: 100, dtype: float64

# Step 9. Count the number of missing values

In [40]:
wine.isnull().sum().sum()

7

# Step 10. Create an array of 10 random numbers up until 10

In [44]:
ran_int = np.random.randint(1,10, 10)

# Step 11. Use random numbers you generated as an index and assign NaN value to each of cell.

In [45]:
wine.iloc[ran_int, :] = np.NaN

In [46]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127.0,3.06,2.29,1.04
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13.24,2.59,21.0,NaN,2.69,1.82,1.04
...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95.0,0.61,1.06,0.64
174,13.40,3.91,23.0,102.0,0.75,1.41,0.70
175,13.27,4.28,20.0,120.0,0.69,1.35,0.59
176,13.17,2.59,20.0,120.0,0.68,1.46,0.60
177,14.13,4.10,24.5,96.0,0.76,1.35,0.61

In [ ]:

wine.alcohol[random] = np.nan
wine.head(10)

# Step 12. How many missing values do we have?

In [47]:
wine.isnull().sum().sum()

46

# Step 13. Delete the rows that contain missing values

In [48]:
wine.dropna(axis=0, inplace=True)

In [49]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
5,14.20,1.76,15.2,112.0,3.39,1.97,1.05
9,13.86,1.35,16.0,98.0,3.15,1.85,1.01
11,14.12,1.48,16.8,95.0,2.43,1.57,1.17
12,13.75,1.73,16.0,89.0,2.76,1.81,1.15
13,14.75,1.73,11.4,91.0,3.69,2.81,1.25
...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95.0,0.61,1.06,0.64
174,13.40,3.91,23.0,102.0,0.75,1.41,0.70
175,13.27,4.28,20.0,120.0,0.69,1.35,0.59
176,13.17,2.59,20.0,120.0,0.68,1.46,0.60
177,14.13,4.10,24.5,96.0,0.76,1.35,0.61

In [ ]:

# wine = wine.dropna(axis = 0, how = "any")
# wine.head()

# Step 14. Print only the non-null values in alcohol

In [52]:
wine.alcohol[wine.alcohol.notnull()]

5      14.20
9      13.86
11     14.12
12     13.75
13     14.75
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 168, dtype: float64

# Step 15. Reset the index, so it starts with 0 again

In [53]:
wine.reset_index()

,index,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,5,14.20,1.76,15.2,112.0,3.39,1.97,1.05
1,9,13.86,1.35,16.0,98.0,3.15,1.85,1.01
2,11,14.12,1.48,16.8,95.0,2.43,1.57,1.17
3,12,13.75,1.73,16.0,89.0,2.76,1.81,1.15
4,13,14.75,1.73,11.4,91.0,3.69,2.81,1.25
...,...,...,...,...,...,...,...,...
163,173,13.71,5.65,20.5,95.0,0.61,1.06,0.64
164,174,13.40,3.91,23.0,102.0,0.75,1.41,0.70
165,175,13.27,4.28,20.0,120.0,0.69,1.35,0.59
166,176,13.17,2.59,20.0,120.0,0.68,1.46,0.60
167,177,14.13,4.10,24.5,96.0,0.76,1.35,0.61

In [ ]:
wine = wine.reset_index(drop = True)
wine.head()